h1 {
    margin-top: 75px;
    color: #A92F41;
}

h3 {
    color: #A09FA0;
}

div:first-child {
    margin-top: 100px;
}

div {
    margin: 30px auto;
}

#bottom {
    margin-bottom: 30vh;
}

p {
    background-color:rgba(255, 0, 0, 0.04);
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
}

span {
    color: black;
  }