<div class="container">
<h1>Fast HTTP Caching</h1>

<form #heroForm="ngForm">
  {{ heroForm.value|json }}
  {{ post|json }}
  <div>
    <h3>Title:</h3>
    <input type="text" class="form-control rounded-1" [(ngModel)]="post.title" name="title" #title="ngModel">
  </div>
  <div>
    <h3>Body:</h3>
    <input type="text" class="form-control" [(ngModel)]="post.body" name="body" #body="ngModel">
  </div>
  <div>
    <h3>UserId:</h3>
    <input type="text" class="form-control" [(ngModel)]="post.userId" name="userId" #userId="ngModel">
  </div>
  <div class="btn">
    <button (click)="newPost()">New Post</button>
  </div>
</form>
<div>
  {{ req$ | async | json }}
</div>


  <div *ngFor="let r of repos$ | async">
    <!-- <p>{{ r | json}}</p> -->
    <h2><span class="ba">Id:</span> {{ r.id }}</h2>
    <h3><span class="ba">Title:</span> {{ r.title }}</h3>
    <p class="indent">{{ r.body }}</p>  
  </div>


  <ul>
    <li *ngFor="let city of cities$ | async">
        Name: {{ city.name }},
        Population: {{ city.population }},
        Elevation: {{ city.elevation }}</li>
  </ul>

  <div *ngIf="temp else loading">
      <h3>I am NOT ngtemplate</h3>
    </div>
  

  <ng-template #loading>
      <h3>I am ng-template!</h3>
    </ng-template>
  
</div>