#restaurant-menu {
    padding: 0px;
    margin: 0px;
}

#restaurant-menu .section-title {
    background: url(https://odondovi.sirv.com/Images/roll.jpg) center center no-repeat fixed;
	background-size: cover;
    height: 100%;
    min-height: 100%;
    margin-bottom: 90px;
}

.section-title .overlay-pic {
    min-height: 100vh;
    /* padding: 320px 0; */
    /* margin-top:-26px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
}

/* .section-title .overlay-pic hr{
    width: 85px;
    border-top: 3px solid #8eb640;
    text-align: center;
    margin: 0 auto 40px;
} */

#theMenu {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    border: 6px solid #8eb640;
    margin-top: 170px;
    margin-bottom: 1px;
    background-color: rgba(241, 220, 220, 0.767);
    border-radius: 15px;
    padding: 10px 40px;
    font-size: 14rem;
    /* color: rgb(20, 8, 0); */
    /* opacity: 0.8; */
}

#theMenu::after {
    opacity: 0.9;
}

h3 {
    background-color: #F1DCDC;
    opacity: 0.8;
    border-radius: 15px;
    padding: 10px 20px !important;
    border: 4px solid #8eb640;
    margin-bottom: 1.8rem;
}

#restaurant-menu h3 {
    font-family: 'Raleway', sans-serif;
	/* padding: 10px 0; */
    text-transform: uppercase;
    font-weight: bolder;
}
#restaurant-menu .menu-section hr {
	margin: 0 auto 0 -5;
    width: 85px;
    border-top: 3px solid #8eb640;
    text-align: center;
}
#restaurant-menu .menu-section {
	margin: 0 20px 80px;
}
#restaurant-menu .menu-section-title {
	font-size: 26px;
	display: block;
	font-weight: 500;
	color: #444;
	margin: 20px 0;
	text-align: center;
}
#restaurant-menu .menu-item {
	margin: 35px 0;
	font-size: 18px;
}
#restaurant-menu .menu-item-name {
	font-weight: 600;
	font-size: 17px;
	color: #555;
	border-bottom: 2px dotted rgb(213, 213, 213);
}
#restaurant-menu .menu-item-description {
	font-style: italic;
	font-size: 15px;
}
#restaurant-menu .menu-item-price {
	float: right;
	font-weight: 600;
	color: #555;
	margin-top: -26px;
}

i {
    /* margin-top: 20rem; */
    font-size: 6rem;
}

@media(max-width: 772px) {
    #theMenu {
        font-size: 10rem;
    }
}

@media(max-width: 499px) {
    * {
        overflow-x: hidden;
    }
    #theMenu {
        font-size: 6rem;
    }
    h3 {
        font-size: 1.3rem;
        padding: 10px 10px !important;
    }
    i {
        font-size: 4rem;
    }
}