/* div#pic {
    background:url('/assets/img/chef.jpeg') center center no-repeat fixed;
    background-size: cover;
    width: 100%;
   min-height: 100vh;
} */

section {
    background: whitesmoke;
}

.zoom {
    padding: 10px;
    background-color: #BEBEBE;
    transition: transform .2s; /* Animation */ 
    margin: 0 auto;   
}
.zoom:hover {
    transform: scale(1.2);
    padding: 10px 180px;
}