a.navbar-brand {
    color: #D2BF98;
    font-weight: bolder;
    letter-spacing: 1.1px;
    font-size: 1.6rem;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: "museo-sans", helvetica, sans-serif;
    /* text-shadow:0px 5px 30px #d2bf98; */
}

.nav-link {
    color: rgb(207, 168, 90) !important;
    font-weight: bolder;
}

.nav-link:hover {
    background: white;
}

i {
    padding-right: 5px;
}

@media (min-width: 349px) and (max-width: 415px) {
    a.navbar-brand {
        font-size: 1.1rem;
    }
    .navbar-toggler-icon {
        width: 1.1em;
        height: 1.1em;
    }
    
}