.mycss {
  display: block;
  max-width: 100%; 
  height: auto;
}

/* #contact {
    background:url('/assets/img/pic1.jpg');
    display: block;
    max-width: 100%;
    height: auto;
} */

#contact {
    position: relative;
    margin-top: -24px;
}

p {
    margin: 0;
    padding: 0;
}

.centered {
    position: absolute;
    bottom: 13%;
    left: 50%;
    font-size: 1.2vw;
    color: rgb(212, 101, 37);
    transform: translate(-50%, -50%);
    font-family: 'Dancing Script', cursive;    
}