.top-container {
    display: flex;
    background-color: black;
    /* opacity: 0.93;     */
}
.showcase {
    background:url('/assets/img/pic3.jpeg') no-repeat center center;
    background-size: cover;
    filter: brightness(85%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: auto; */
    width: 100%;
    min-height: 100vh;
    /* color: rgb(165, 99, 6); */
    color:rgb(129, 89, 8);
    font-weight: bolder;
    /* background-color: black; */
    opacity: 0.8;
}
h1 {
    border: 10px solid #79662d;
    border-radius: 75px;
    padding: 0 15px 0;
    margin-top: 10vh;
    /* font-size: 6rem; */
    font-size: 10vw;
    /* text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: rgb(56, 36, 3); */
    font-family: 'Dancing Script', cursive;
    /* background-color: rgba(150, 142, 142, 0.952); */
    background-color: white;
    /* filter: saturate(20); */
}
p {
    color: rgb(56, 19, 1);
    font-size: 1.5vw;
}
#phone {
    margin-right: 7px;
}
button {
    padding: 15px 21px !important;
    font-size: 18px !important;
    width: 10vw;
    background-color:rgb(129, 89, 8);
    color: white;
    border-radius: 20px;
  }

@media (max-width: 990px) {
    h1 {
        font-size: 13vw;
    }
    p {
        font-size: 3vw;
    }
}

@media (max-width: 990px) {
    button {
      font-size: 18px !important;
      width: 27vw;
    }
  }
    
  


/* .mycss {
    display: block;
    max-width: 100%; 
    height: auto;
  }
  
  #contact {
      background:url('/assets/img/wall.jpg') no-repeat center center;
      width: 100%;
      height: auto;
      background-size: cover;
      padding-bottom: 52.5%;
      margin-top: 41px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  } */
  
  /* #contact {
      position: relative;
      margin-top: 0px;
  } */
  
  
  
  /* div.centered {
      position: absolute;
      bottom: -11%;
      left: 49%;
      font-size: 1.3vw;
      color: var(--orange-color);
      transform: translate(-50%, -50%);
      font-family: 'Dancing Script', cursive;    
  } */
  
  /* p>a {
      color: #907163 !important;
  }
  
  a:hover {
      text-decoration-color: white;
  }
  
  #phone {
      margin-right: 7px;
  }
  
  @media(max-width: 779px) {
      #contact {
          padding-top: 24px;
      }
  } */


/*
@media (max-width: 768px) {
    .btn {
      font-size:11px;
      padding:4px 6px;
    }
  }
  
  @media (min-width: 768px) {
    .btn {
      font-size:12px;
      padding:6px 12px;
    }
  }
    
  @media (min-width: 992px) {
    .btn {
      font-size:14px;
      padding:8px 12px;
    }
  }
   
  @media (min-width: 1200px) {
    .btn {
      padding:10px 16px;
      font-size:18px;
    }
  } */

