.mycss {
  display: block;
  max-width: 100%; 
  height: auto;
}

/* #contact {
    background:url('/assets/img/pic1.jpg') no-repeat center center;
    display: block;
    max-width: 100%;
    min-height: 100%;
    height: auto;
    background-size: cover;
} */

#contact {
    position: relative;
    margin-top: 0px;
}

p {
    margin: 0;
    padding: 0;
}

.centered {
    position: absolute;
    bottom: 4%;
    left: 49%;
    font-size: 1.3vw;
    color: rgb(212, 101, 37);
    transform: translate(-50%, -50%);
    font-family: 'Dancing Script', cursive;    
}

p>a {
    color: #907163 !important;
}

a:hover {
    text-decoration-color: white;
}

#phone {
    margin-right: 7px;
}

@media(max-width: 779px) {
    #contact {
        padding-top: 24px;
    }
}

